**/node_modules/
/node_modules/
*.swp
*~
.~*
*.bundle.js
/.jome/
*.built.css
# This must be the last line of the .gitignore file. Because there is a bug that
# prettier does not work on files that are inside .gitignore, so I remove it temporarly.
*.built.js
