./node_modules
*.swp

# Don't save to git every bundle
# TODO: Create a release task, that saves the bundle under a different name to be used by Github Pages
/docs/bundle.js
/docs/bundle.js.map

# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
app/bin
app/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
.tmp
*.log


/dist
