body {
  background-color: #080e14;
  color: #fff;
}

pre code {
  display: block;
  background: black;
  color: #eaeaea;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}

#editor-views {
  display: flex;
}

#editor-views > div {
  flex: 1;
  border: 1px solid #fff;
  height: 90vh;
}