body {
  background-color: #080e14;
  color: #fff;
}

a {
  color: #46a0ef;
}

li {
  margin-top: 0.25em;
}

pre code {
  display: block;
  background: black;
  color: #eaeaea;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

blockquote {
  border-left: 4px solid #aaa;
  margin-left: 0px;
  padding-left: 1.2em;
  color: #aaa;
}

#toolbar {
  display: flex;
  align-items: center;
  border: 1px solid white;
}

#toolbar > div {
  margin: 0.15em;
}

.code_result {
  border-left: 5px solid yellow;
  padding-left: 0.5em;
  margin-top: -0.2em;
}

#editor-views {
  display: flex;
}

#editor-views > div {
  flex: 1;
  border: 1px solid #fff;
  min-height: 90vh;
  padding: 0.5em;
  width: 33.33333%;
}

#prosemirror_editor {
  border: 1px solid white;
  padding: 0.8em;
}