body {
  background-color: #080e14;
  color: #fff;
}

a {
  color: #46a0ef;
}

li {
  margin-top: 0.25em;
}

pre code {
  display: block;
  background: black;
  color: #eaeaea;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

blockquote {
  border-left: 4px solid #aaa;
  margin-left: 0px;
  padding-left: 1.2em;
  color: #aaa;
}

#toolbar {
  display: flex;
  align-items: center;
  border: 1px solid white;
}

#toolbar > div {
  margin: 0.15em;
}

.code_result {
  border-left: 5px solid yellow;
  padding-left: 0.5em;
  margin-top: -0.2em;
}

#editor-views {
  display: flex;
}

#editor-views > div {
  flex: 1;
  border: 1px solid #fff;
  min-height: 90vh;
  padding: 0.5em;
  width: 33.33333%;
}

#prosemirror_editor {
  border: 1px solid white;
  padding: 0.8em;
}






.context_panel {
  display: flex;
}
.context_buttons {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #222121;
}
.context_buttons > svg {
  padding: 0.5em;
}







.tab-buttons {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  padding: 2px 1em;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background-color 0.3s;
}

.tab-button.active {
  background-color: #ddd;
  border-bottom: 2px solid #2196F3;
}









.main_panel {
  overflow: auto;
  flex-grow: 2;
}

.split-content {
  height: calc(100% - 1.7em);
  display: flex;
  flex-direction: row;
}

#split-0, #split-1, #split-2 {
  height: 100%;
}

.gutter {
  background-color: #222121;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}








body {
  margin: 0;
}

.window {
  width: 100vw;
  height: 100vh;
}

.window_bar {
  background-color: #2b2b2b;
  font-size: 1.3em;
  padding: 0.2em;
  text-align: center;
}