body {
  background-color: #080e14;
  color: #fff;
}

a {
  color: #46a0ef;
}

li {
  margin-top: 0.25em;
}

pre code {
  display: block;
  background: black;
  color: #eaeaea;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

blockquote {
  border-left: 4px solid #aaa;
  margin-left: 0px;
  padding-left: 1.2em;
  color: #aaa;
}

#toolbar {
  display: flex;
  align-items: center;
  border: 1px solid white;
}

#toolbar > div {
  margin: 0.15em;
}

.code_result {
  border-left: 5px solid yellow;
  padding-left: 0.5em;
  margin-top: -0.2em;
}

#editor-views {
  display: flex;
}

#editor-views > div {
  flex: 1;
  border: 1px solid #fff;
  min-height: 90vh;
  padding: 0.5em;
  width: 33.33333%;
}

#prosemirror_editor {
  border: 1px solid white;
  padding: 0.8em;
}






.context_panel {
  display: flex;
}
.context_buttons {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #222121;
}
.context_buttons > svg {
  padding: 0.5em;
}







.tab-buttons {
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab-button {
  padding: 2px 1em;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: background-color 0.3s;
}

.tab-button.active {
  background-color: #ddd;
  border-bottom: 2px solid #2196F3;
}




#explorer-tree {
  padding-top: 0.5em;
  font-size: 0.9em;
}

.tool-buttons {
  padding: 0.5em;
}

.panel-main-header {
  width: 100%;
  padding: 0.25em;
  background-color: #464644;
}

.panel-header {
  border-bottom: 1px solid #222121;
  width: 100%;
  padding: 0.5em;
}

.main_panel {
  overflow: auto;
  flex-grow: 2;
}

.split-content {
  height: calc(100% - 1.7em);
  display: flex;
  flex-direction: row;
}

#split-0, #split-1, #split-2 {
  height: 100%;
}

.gutter {
  background-color: #222121;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}








body {
  margin: 0;
}

.window {
  width: 100vw;
  height: 100vh;
}

.window_bar {
  background-color: #2b2b2b;
  font-size: 1.3em;
  padding: 0.2em;
  text-align: center;
}









/* WIP not working */
.linear-tree details div, .linear-tree details details summary  {
  position: relative;
  padding-left: 4rem;
}
.linear-tree details div::before, .linear-tree details details summary::before  {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2em;
  background: repeating-linear-gradient(
    to right, #999, #999 2px, transparent 2px, transparent calc(2px + 0.6rem)
  );
}









/* Credit: https://iamkate.com/code/tree-views/ */

.tree {
  --spacing: 0.3rem;
  padding-left: 0;
  margin-top: 0;
}

.tree li {
  display: block;
  padding-left: calc(2 * var(--spacing));
  margin-top: 0;
  margin-left: 3px;
}

.tree ul {
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #999;
}

.tree .leaf {
  padding: 0.12em 0;
  /* FIXME: Ellipsis not working yet with split.js */
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree [selected] {
  background-color: #3e312b !important;
}

#explorer-tree .leaf {
  cursor: pointer;
}

#explorer-tree .leaf:hover {
  background-color: #27211e;
}












.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.errorModalContent {
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 6px;
  text-align: center;
  max-width: 300px;
  margin: auto;
  border: 2px solid white;
}






.homepage-btns > button {
  background-color: #080e14;
  color: #fff;
  border: 2px solid #333942;
  font-size: 1em;
  padding: 0.2em 0.6em;
}

#main-panel {
  background-color: #252728;
  height: 100%;
}






#homepage {
  max-width: 800px;
  margin: auto;
}